#card-front {
    position: absolute;
    left: 100px;
    top: 200px;
    width: 390px;
    height: 250px;
    background-color: gray;
    border-radius: 6px;
    border-right: solid lightgray 2px;
    border-bottom: solid lightgray 2px;
}
#card-back{
    position: absolute;
    left: 245px;
    top: 230px;
    z-index: -1;
    width: 390px;
    height: 250px;
    background-color: gray;
    border-radius: 6px;
    border-right: solid lightgray 2px;
    border-bottom: solid lightgray 2px;
}
#card-stripe {
    width: 100%;
    height: 55px;
    background-color: black;
    position: absolute;
    right: 0;
    top: 15px;
}
#cardholder-container {
    display: inline-block;
}
#cvc-container {
    position: absolute;
    width: 110px;
    bottom: -10px;
    right: -115px;
    box-sizing: border-box;
}
#card-cvc {
    width: 60px;
}
#card-image {
    float: right;
    margin-right: 30px;
}
input {
    background-color: whitesmoke;
    border-radius: 4px;
    margin-left: 30px;
    height: 23px;
}
label {
    display: block;
    margin-left: 30px;
}
.hidden, #card-token {
    display: none;
}
#image-container {
    position: relative;
    margin-bottom: 5px;
    height: 55px;
    line-height: 55px;
}
#card-number {
    width: 320px;
}
#cardholder-container {
    margin-top: 35px;
}
#exp-container {
    position: absolute;
    bottom: 36px;
    left: 220px;
}
#card-month, #card-year {
    width: 30px;
}
#card-year {
    margin-left: 6px;
}
#card-btn {
    position: absolute;
    top: 500px;
    left: 506px;
    height: 40px;
    width: 130px;
    background-color: gray;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border: none;
}
#card-btn:hover {
  background-color: rgb(99, 98, 98);
}
#amount {
    margin-left: 30px;
}
#card-number-lbl {
    margin-top: 30px;
}
#cvc-container p {
    margin-left: 30px;
    font-size: 10px;
}